
   .boxContent {
    display: flex;
    width: 80px;
    height: 80px;
    margin: 10px 15px;
  }
  
   .boxContent .box {
    height: 80px;
    flex: 1 1 30rem;
    border-radius: .5rem;
    position: relative;
    overflow: hidden;
  }
  
   .boxContent .box .imgThumb{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  
   .boxContent .box .content {
    display: flex;
    position: absolute;
    top: -200%;
    left: 0;
    background-color: rgba(255, 255, 255, .7);
    height:95px;
    width: 95px;
    padding: 2rem ;
    justify-content: center;
    align-items: center;
  }
  

  .sideContent{
    margin-left: 10px;
    line-height: 18px;
  }
  
  .wrapBox:hover .boxContent .box .content {
    top:-5px;
    left: -6px;
    transition: .05s linear;
  }
  
  .wrapBox:hover .boxContent .box.imgThumb {
    width: 110%;
    height: 110%;
    transition: .5s linear;
  }
  
  .wrapBox:hover .sideMore{
    visibility: visible;
  }
  
  .ln{
    padding: 40px 20px 40px 20px;
}

.dot{
    font-size: 50px;
    margin: 0 5px  0 0;
}

.botDot{
    margin-left: 180px;
    visibility: hidden;
}
.wrapBox:hover .botDot{
 visibility: visible;
}

.title{
  font-size: 20px;
  font-weight: bold;
}

.rank{
    width: 35px;
    font-size: 30px;
    text-shadow: 2px 2px red;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .wrapBox{
    padding-top: 5px;
    margin-left: 40px;
    margin-top: 5px ;
    width: 95%;
    display: flex;
    align-items: center;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .wrapBox{
    padding-top: 5px;
    margin-left: 40px;
    margin-top: 5px ;
    width: 95%;
    display: flex;
    align-items: center;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .wrapBox{
    padding-top: 5px;
    margin-left: 40px;
    margin-top: 5px ;
    width: 95%;
    display: flex;
    align-items: center;
  }
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .wrapBox{
    padding-top: 5px;
    margin-left: 40px;
    margin-top: 5px ;
    width: 42%;
    display: flex;
    align-items: center;
  }
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .wrapBox{
    padding-top: 5px;
    margin-left: 40px;
    margin-top: 5px ;
    width: 45%;
    display: flex;
    align-items: center;
  }
   
}